.folio{
    display: block;
    width: 650px;
    height: 800px;
    background: #fff;
    border: solid 1px #ddd;
    float: left;
    margin-top: 100px;
    margin-left: 175px;
    padding-top: 20px;
    margin-bottom: 50px;
}

.portfoliotitle{
    display: block;
    margin-top: 15px;
    margin-left: 35px;
    margin-bottom: 25px;
}

.contentline{
    position: relative;
    width: 90%;
    border-top: solid 3px #e6e6e6;
    margin: auto;
    margin-bottom: 25px;
}

.portpic{
    width: 275px;
    height: 200px;
}

.lft{
    position: relative;
    left: 35px;
}

.rte{
    position: relative;
    left: 65px;
}

.one, 
.two, 
.three, 
.four, 
.five{
    position: absolute;
    background: #4aaaa5;
    color: #e6e6e6;
    width: 275px;
    height: 45px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

.one{
    left: 211px;
    bottom: 475px;
}

.two{
    left: 520px;
    bottom: 475px;
}

.three{
    left: 211px;
    bottom: 234px;
}

.four{
    left: 520px;
    bottom: 234px;
}

.five{
    left: 211px;
    bottom: -5px;
}
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
